@font-face {
    font-family: "Departure Mono";
    src:url(fonts/DepartureMono-1.346/DepartureMono-Regular.otf)format("opentype");
    src:url(fonts/DepartureMono-1.346/DepartureMono-Regular.woff)format("woff");
    src:url(fonts/DepartureMono-1.346/DepartureMono-Regular.woff2)format("woff2");
    
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Departure Mono";
}

.information {
    width: 100%;
}

.time {
    text-align: right;
}

.line {
    width: 10em;
}

.container {
    height: 3em;
}