@font-face {
    font-family: "Departure Mono";
    src:url(fonts/DepartureMono-1.346/DepartureMono-Regular.otf)format("opentype");
    src:url(fonts/DepartureMono-1.346/DepartureMono-Regular.woff)format("woff");
    src:url(fonts/DepartureMono-1.346/DepartureMono-Regular.woff2)format("woff2");
    
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Departure Mono", serif;

    --foreground-color: black;
    --background-color: #5e7b6f;
    --font-size: 12pt;

    color: var(--foreground-color);
    background-color: var(--background-color);
    font-size: var(--font-size);
}

table {
    border-collapse: collapse;
}

.information {
    width: 100%;
    text-align: left;

    tr td, tr th {
        vertical-align: top;
        line-height: 1.5;
        padding: .5em;
    }
    tr {
        overflow: hidden;
        height: calc(1.5 * 1em);
        /*white-space: nowrap;*/
    }
}

.indicator {
    width: 2em;
    text-align: center;
}

.actual {
    font-weight: bold;
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.time {
    text-align: left;
    width: 1em;
}

.delay {
    color: red;
    font-weight: bold;
    background-color: var(--foreground-color);
    margin-left: 1ex;
}
.delay::before {
    content: "+"
}

/*
td.time {

}
*/

.line {
    width: 10ex;
    text-align: left;
}

.direction {
    width: auto;
    text-align: left;
}

.via {
    text-align: left;
}

.platform {
    width: 4em;
    text-align: right;
}

.cancelled .line, .cancelled .direction {
    text-decoration: line-through;
    color: red;
}